source_env_if_exists .envrc.local
layout_poetry

export AW_CENTOS_6_BOX_IMAGE=generic/centos6
export AW_CENTOS_6_HOSTNAME=centos-6
export AW_CENTOS_7_BOX_IMAGE=generic/centos7
export AW_CENTOS_7_HOSTNAME=centos-7
export AW_CENTOS_8_BOX_IMAGE=generic/centos8
export AW_CENTOS_8_HOSTNAME=centos-8
export AW_UBUNTU_1804_BOX_IMAGE=generic/ubuntu1804
export AW_UBUNTU_1804_HOSTNAME=ubuntu-1804
export AW_UBUNTU_2004_BOX_IMAGE=generic/ubuntu2004
export AW_UBUNTU_2004_HOSTNAME=ubuntu-2004
export AW_UBUNTU_2204_BOX_IMAGE=generic/ubuntu2204
export AW_UBUNTU_2204_HOSTNAME=ubuntu-2204
export AW_WINDOWS_SERVER_2022_BOX_IMAGE=jborean93/WindowsServer2022
export AW_WINDOWS_SERVER_2022_HOSTNAME=windows-server-2022

# Don't add the hosts from this repository to the ssh known_hosts file
export ANSIBLE_HOST_KEY_CHECKING=False
